@{
    ViewData["Title"] = "GetPDF";
}

<h1>GetPDF</h1>

@section Scripts
    {
    <script type="text/javascript">

        $(document).ready(function () {

            dom: 'Bfrtip',
                buttons: [
                    'copy',
                ]
        });
    </script>
    }
